@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Source+Sans+Pro';

body{
  background-color: #f2f2f2;
  color:#fefefe;
  font-family: 'Droid Sans', sans-serif;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 20px

}

h2{
  font-size: 1.5em;
  margin-bottom: 20px
}
p{
  font-size: 1em;
  line-height: 25px;
}

img[src='Error.src']{
    display: none;
}


.btn-lg{
  padding:10px;
  width:200px;
  display: block;
  border:10px solid #ccc;
  background-color: #fff;
  text-align: center;
  font-size: 2em;
  color:#000;
  border:1px solid;
  text-decoration: none;
  &::hover{
    color:#000;
  }
}


* {margin: 0; padding: 0;}
body {background: #333;}




#prev{
  margin-right: auto;
  margin-left: 0;
  float:left;
}
#next{
  margin-right: 0px;
  margin-left: auto;
}

.inner{
  width:960px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
  margin-left:auto;
  margin-right: auto;

  .news-item {

    border:1px solid #ccc;
    background-color: #e6e6e6;
    color: #1a1a1a;
    cursor: pointer;
    width:100%;
    display:inline-block;
    img{
      float:left;

      max-width: 100px;
      max-height: 100px;
      margin-right:15px;
    }


    .detail{
      height:400px;
      overflow: auto;
      display:block;
      background-color: #fefefe;
      .detail-item{
        display: inline-block;
        margin:15px;
        color:#000;
        p{
          display: inline-flex;
        }
      }
      img{
        margin-left: auto;
        margin-right: auto;
      }

    }
  }
}
