@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Source+Sans+Pro';

body{
  background-color: #000;
  color:#fefefe;
  font-family: 'Droid Sans', sans-serif;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 20px

}

h2{
  font-size: 1.5em;
  margin-bottom: 20px
}
p{
  font-size: 1em;
  line-height: 25px;
}

nav ul{
  border:1px solid #000;
  height:50px;
  list-style: none;
  li{
    float:left;
    margin:15px;
  }
}

#next{
  padding:10px;
  width:200px;
  display: block;
  border:10px solid #ccc;
  background-color: #fff;
  text-align: center;
  font-size: 2em;
  color:#000;
  border:1px solid;
  text-decoration: none;
  &::hover{
    color:#000;
  }
}

.inner{
  width:960px;

  margin-left:auto;
  margin-right: auto;

  .news-item {


    cursor: pointer;

    .detail{
      height:400px;
      overflow: auto;
      display:block;
      background-color: #fefefe;
      .detail-item{
        display: inline-block;
        margin:15px;
        color:#000;
        p{
          display: inline-flex;
        }
      }
      img{
        margin-left: auto;
        margin-right: auto;
      }

    }
  }
}
